/*MENU PRODUCT*/

.panel-group {
    margin-bottom: 20px;
}

.product_description .nav-tabs {
    background: #e7e7e7;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav:before {
    display: table;
    content: " ";
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}

.clearfix:before {
    display: table;
    content: " ";
}

.product_description .nav-tabs {
    background: #e7e7e7;
}

.product_description .nav-tabs li a {
    font-weight: bold;
    border-radius: 0;
    margin-right: 0;
    border-top-width: 2px;
    text-transform: uppercase;
    font-size: 15px;
}

.product_description .nav-tabs li.active a,
.product_description .nav-tabs li a:hover {
    border-top: 2px solid #0f9ed8;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

.product_description .nav-tabs li a:hover {
    background: #fff;
    color: #333;
}

.product_description .tab-content .tab-pane {
    border: 1px solid #ddd;
    border-top: transparent;
    padding: 10px;
}


/*Product related*/

.product_description .nav-tabs li.active a {
    border-top: 2px solid #0f9ed8;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

.product_description .nav-tabs li a {
    font-weight: bold;
    border-radius: 0;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 15px;
}

.nav-tabs>li.active>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: trans;
    vertical-align: baseline;
}

.nav:after {
    clear: both;
    display: table;
    content: " ";
}

.widget_block_sidebar .widget_list_sidebar .pro-loop h3 {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    color: black;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 40px;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 500;
}

.widget_block_sidebar .widget_list_sidebar .pro-loop {
    margin-bottom: 10px;
}

.widget_list_sidebar .pro-loop img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-left: 10px;
}

.widget_block_sidebar .widget_list_sidebar .pro-loop .product_related_price .product_related_price {
    display: block;
    color: #ff7200;
}

.widget_block_sidebar .widget_list_sidebar .pro-loop .product_related_price {
    font-size: 15px;
}

.product-content .page_heading {
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.product_list.grid {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.clearfix:before {
    display: table;
    content: " ";
}

.product-block {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.m-b-20 {
    margin-bottom: 20px;
}

.product-block:before {
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    bottom: 100%;
    width: 100%;
    transition: all .3s ease-out;
    content: '';
    height: 5px;
    position: absolute;
    opacity: 0;
}

.product-block .product-image {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}

.sold-out {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0f9ed8;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    white-space: pre-line;
    width: 55px;
    text-align: center;
    line-height: 1.3;
    height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 99;
}

.product-actions {
    position: absolute;
    bottom: 40%;
    width: 100%;
    left: 0;
}

.show_more {
    text-align: center;
    padding: 10px;
}

.show_more a {
    color: #0f9ed8;
}

.product-actions {
    position: absolute;
    bottom: 40%;
    width: 100%;
    left: 0;
}

.product-actions .btn-add-to-cart,
.product-actions .btn_quickview {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
}

.product-actions .btn-add-to-cart:hover,
.product-actions .btn_quickview:hover {
    background: #0f9ed8;
}

.product-actions .btn-add-to-cart {
    margin-right: 15px;
}

.product-actions .btn-add-to-cart a,
.product-actions .btn_quickview a {
    color: #fff;
}

.product-block:hover .product-actions .btn-add-to-cart,
.product-block:hover .product-actions .btn_quickview {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.product-block:hover .product-actions .btn-add-to-cart {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;
}

.product-block:before,
.product-block:after {
    width: 100%;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    content: '';
    height: 5px;
    position: absolute;
    opacity: 0;
}

.product-block:before {
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    bottom: 100%;
}

.product-block:after {
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    top: 100%;
}

.product-block:hover:after,
.product-block:hover:before {
    opacity: 1;
}

.product_list.list .pro_loop {
    border-bottom: 1px solid #ccc;
    padding: 0px 0 10px;
}

.product_list.list .pro_loop .product-block {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.product_list.list .pro_loop .pro_prices .pro_price {
    color: #0f9ed8;
    font-size: 16px;
}

.product-block .product-info .pro-name a {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-block .product-info .pro-name:hover a {
    text-decoration: none;
    color: #0f9ed8;
}

.product-block .product-info .pro-prices .pro-price {
    font-weight: bold;
    color: #0f9ed8;
    padding-right: 8px;
}

.row:before {
    display: table;
    content: " ";
}

.product_description .tab-content .tab-pane {
    border: 1px solid #ddd;
    border-top: transparent;
    padding: 10px;
}

.tab-content>.active {
    display: block;
}


/*Blog Home*/

.menu-product {
    margin-bottom: 15px;
}

.menu-product h3 {
    background-color: #00709d;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    text-transform: uppercase;
    margin: 0;
    border-left: 5px solid #0f9ed8;
}

.menu-product ul {
    list-style: none;
    display: block;
    border: 1px solid #dddddd;
    position: relative;
    background-color: #f6f6f6;
}

.menu-product ul:before {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: -9px;
    content: "";
    display: block;
    height: 5px;
    left: 10px;
    position: absolute;
    right: 10px;
}

.menu-product ul:after {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: -5px;
    content: "";
    display: block;
    height: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
}

.menu-product ul li {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu-product ul li a {
    padding: 15px 12px;
    margin: 0 7px;
    color: #0f9ed8;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dashed #c3c3c3;
    display: block;
}

.menu-product ul li a:hover {
    color: #0f9ed8;
}

.menu-product ul li .open-close {
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 20px;
    cursor: pointer;
}

.menu-product ul li .open-close i {
    color: #0f9ed8;
    margin-right: 0;
    line-height: 18px;
    font-size: 18px;
}

.menu-product ul li .open-close i:hover {
    color: #373737;
}

.menu-product ul li ul {
    border: none;
    display: none;
}

.menu-product ul li ul:before,
.menu-product ul li ul:after {
    content: none;
}

.menu-product ul li ul li a {
    color: #373737;
    padding-left: 25px;
    border-bottom: none;
}

.menu-product ul li ul li .open-close i {
    color: #373737;
}

.menu-product ul li ul li .open-close i:hover {
    color: #0f9ed8;
}

.menu-product ul li ul li ul {
    display: block;
}

.menu-product ul li ul li ul li a {
    padding: 7px 10px 7px 40px;
    color: #aaaaaa;
}

.menu-product ul li ul li ul li.active a {
    color: #0f9ed8;
}

.box-sale-policy {
    margin-bottom: 50px;
}

.box-sale-policy h3 {
    background-color: #0f9ed8;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}

.box-sale-policy .sale-policy-block {
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    background-color: #f6f6f6;
}

.box-sale-policy .sale-policy-block ul {
    counter-reset: item;
}

.box-sale-policy .sale-policy-block ul li {
    margin-bottom: 5px;
    list-style-type: none;
}

.box-sale-policy .sale-policy-block ul li:before {
    content: counter(item) "";
    counter-increment: item;
    background: #0f9ed8;
    color: #ffffff;
    display: inline-block;
    border-radius: 3px;
    margin: 0 10px;
    padding: 2px 7px;
}

.box-sale-policy .buy-guide {
    background-color: #f6f6f6;
}

.box-sale-policy h3 {
    background-color: #0f9ed8;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}

.box-sale-policy .buy-guide ul {
    padding: 10px;
    border: 1px solid #c3c3c3;
    counter-reset: item;
}

.box-sale-policy .buy-guide ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.box-sale-policy .buy-guide ul li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    font-weight: bold;
}

.box-sale-policy .buy-guide ul li strong {
    color: #ff0000;
}


/* san pham hot */

.widget_block_sidebar .widget_title_sidebar h3 {
    background: #e7e7e7;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.widget_block_sidebar .widget_list_sidebar {
    padding: 10px 0;
    border: 1px solid #ddd;
}

.clearfix:before {
    display: table;
    content: " ";
}

.widget_block_sidebar .widget_list_sidebar .pro-loop {
    list-style-type: none;
    margin-bottom: 10px;
}

.pro-loop img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}


/* san pham hot */


/*Product*/

.relative {
    position: relative;
}


/*START-CSS:OPEN CART CONTENT
  ==================================================================================================================*/